html * {
  font-family: 'Times New Roman', Times, serif !important;
  letter-spacing: 3px;
  cursor: none;
  /* width: 100vw; */
}

.god-container {
  width: 100%;
  background-color: white;
}

h1 {
  margin: 0;
  padding: 10px;
  border: 0;
  outline: 0;
  font-size: 4vmin;
  vertical-align: baseline;
  background: transparent;
}

.cart-button {
  position: fixed;
  bottom: 10px;
  right: 10px;
  height: 80px;
  width: 80px;
  color: white;
  background-color: black;
  border: 0px solid black;
  border-radius: 10px;
}

.cart-button:hover {
  opacity: 0.7;
}

a:hover {
  -webkit-text-stroke-width: 1px;
}

body {
  background-color: white;
}

.App {
  text-align: center;
}

.header {
  position: relative;
  margin: 0 auto;
  text-align: center;
  width: 100vw;
  /* width: 500px; */
  /* background-color: rgba(255, 255, 255, 1.0); */
  /* font-size: 3vw; */
  font-size: 16px;
  background-color: white;
}

.header-container {
  background-color: white;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header-links-container {
  font-size: 2vmin;
  display: flex;
  flex-direction: row;
  width: 100%;
  max-width: 500px;
  justify-content: space-evenly;
  /* background-color: yellow; */
}

.header-links {
  color: black;
  /* flex-grow: 1;
  flex-shrink: 1;
  flex-basis: auto;
  transition: all 1s; */
  flex-shrink: 1;
  flex-grow: 1;
  transition: flex-grow 1000ms linear;
  /* background-color: red; */
  /* margin: 2px; */
  text-align: center;
}

.collapse {
  flex-grow: 0.0001;
}

.line-container {
  width: 95%;
}

.line-black {
  border-color: black white white;
  border-width: 1px;
  /* margin-top: 20px;
  margin-bottom: 0px; */
  margin: 20px auto 0px;
}

.footer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-container .line-black {
  border-color: black black black;
  border-width: 1px;
}

.footer-line-container {
  padding: 0px 0px 0px;
  width: 100%;
}

.footer-links-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 40px 0px;
}

.selected-link {
  -webkit-text-stroke-width: 1px;
}

.whitelink {
  color: white;
  text-decoration: none;
}

.whitelink:hover {
  text-decoration: underline;
}

.blacklink {
  color: black;
  text-decoration: none;
}

.blacklink:hover {
  text-decoration: underline;
}

.container-main {
  text-align: center;
  margin: 0 auto 5vh;
  padding-top: calc(20px + 0.5em);
  padding-bottom: 1px;
  background-color: white;
}

.container-main .inner {
  background-color: black;
  margin: 0 auto 40px;
  width: 500px;
  /* display: inline-block; */
  /* margin: 0px 25vmax 40px; */
  padding: 2em 0em 3em;
  color: white;
  box-shadow: 5px 10px 20px black;
}

@media screen and (min-width: 500px) {
  .header {
    font-size: 16px;
  }
}

@media screen and (max-width: 500px) {
  .container-main .inner {
    width: 100vw;
    /* min-width: 250px; */
    /* background-color: yellow; */
  }
  .header-links-container {
    flex-direction: column;
    align-items: center;
  }
  .header-links {
    font-size: 15px;
    padding-top: 10px;
    /* padding-bottom: 10px; */
  }
  .header-oponn {
    font-size: 30px
  }
  .footer-links-container {
    flex-direction: column;
    align-items: center;
  }
  .footer-links {
    font-size: 15px;
    padding-bottom: 10px;
  }
}

.container-main .inner .right {
  margin-right: 1em;
  position: relative;
  float: right;
  font-weight: bold;
}

.container-main .inner .left {
  margin-left: 1em;
  position: relative;
  float: left;
  font-weight: bold;
}

.container-main .inner .full-width {
  width: 100%;
}

.container-main .inner .third-width {
  width: 33%;
}

.container-main .inner .half-width {
  width: 50%;
}

.container-main .inner .quarter-width {
  width: 25%;
}

.container-main .inner .tenth-width {
  width: 10%;
}

.unselectable {
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -webkit-user-drag: none;
  -ms-user-select: none;
}

.App-logo {
  height: 20vmin;
  min-height: 150px;
  max-height: 300px;
  background: url('../images/orb-animation-invert.gif');
  background-size: contain;
  mix-blend-mode: multiply;
  background-position-x: 0.4vw;
  background-repeat: no-repeat;
}

.App-header {
  min-height: 20vh;
  max-height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(1px + 2vmin);
  color: black;
  background-color: white;
  padding-top: 20px;
  padding-bottom: 50px;
  overflow: hidden;
}

.App-logo {
  -webkit-animation: spin 10s linear 0s infinite reverse;
  -moz-animation: spin 10s linear 0s infinite reverse;
  -ms-animation: spin 10s linear 0s infinite reverse;
  -o-animation: spin 10s linear 0s infinite reverse;
  animation: spin 10s linear 0s infinite reverse;
  -webkit-animation-play-state: paused;
  -moz-animation-play-state: paused;
  -ms-animation-play-state: paused;
  -o-animation-play-state: paused;
  animation-play-state: paused;
}

.App-logo-container {
  mix-blend-mode: multiply;
  -webkit-animation: spin 20s linear 0s infinite normal;
  -moz-animation: spin 20s linear 0s infinite normal;
  -ms-animation: spin 20s linear 0s infinite normal;
  -o-animation: spin 20s linear 0s infinite normal;
  animation: spin 20s linear 0s infinite normal;
}

.App-logo:hover {
  -webkit-animation-play-state: running;
  -moz-animation-play-state: running;
  -ms-animation-play-state: running;
  -o-animation-play-state: running;
  animation-play-state: running;
}

@keyframes spin {
  0% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(360deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
  }
}

@-ms-keyframes spin {
  0% {
    -ms-transform: rotate(360deg);
  }
  100% {
    -ms-transform: rotate(0deg);
  }
}

@-moz-keyframes spin {
  0% {
    -moz-transform: rotate(360deg);
  }
  100% {
    -moz-transform: rotate(0deg);
  }
}

@-o-keyframes spin {
  0% {
    -o-transform: rotate(360deg);
  }
  100% {
    -o-transform: rotate(0deg);
  }
}

.corner {
  animation: fade-in-out 1.2s infinite alternate linear;
}

.pulse {
  animation: fade-in-out 1s infinite alternate linear;
}

@keyframes fade-in-out {
  100% {
    opacity: 0%;
  }
}