.home-title {
  font-size: 1.5em;
  margin-top: 0px;
  margin-bottom: 0.5em;
}

.home-inspo {
  font-size: 0.8em;
  margin-top: 0px;
  padding: 0px 3em 0px;
}

.social-media-links-container {
  font-size: 0.8em;
  max-width: 500px;
  /* width: 500px; */
  display: flex;
  justify-content: space-evenly;
  color: white;
}

@media only screen and (max-width: 400px) {
  .social-media-links-container {
    flex-direction: column;   
  }
  .soc-med-link {
    padding-bottom: 10px;
  }
}

#manifest_hand {
  position: relative;
  z-index: 1;
  animation: hand-hover 2s ease-in-out forwards infinite alternate;
  animation-delay: 0.1s;
  /* background-color: green; */
}

@keyframes hand-hover {
  100% {
    transform: translateY(80%);
    -ms-transform: translateY(80%);
    -webkit-transform: translateY(80%);
    -moz-transform: translateY(80%);
    -o-transform: translateY(80%);
    transform: translateY(80%);
  }
}

.hand-shadow {
  display: inline-block;
  position: relative;
  transform: translateY(-500%);
  height: 16px;
  width: 60%;
  background: black;
  opacity: 0.4;
  border-radius: 100%;
  z-index: 0;
  animation: shrink 2s ease-in-out forwards infinite alternate;
}

@keyframes shrink {
  100% {
    width: 30%;
    opacity: 1.0;
  }
}

.lain-noise-div:hover {
  background: url('../images/matrix.gif');
  background-size: contain;
  background-size: 50%;
  filter: grayscale(100%);
  mix-blend-mode: difference;
  box-shadow: 5px 10px 20px white;
}

.lain-container {
  background: url('../images/lain_x6.png') no-repeat;
  background-size: contain;
  position: relative;
  overflow: hidden;
}

/* .lain-container:hover {
  background-color: purple;
} */

.hidden-image {
  visibility: hidden;
}

.lain-container:hover>.hidden-image {
  visibility: visible;
  opacity: 0.5;
  -moz-opacity: 0.5;
  -webkit-opacity: 0.5;
  animation: glitch-shake .3s infinite;
}

.lain-container:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: url('../images/lain_x6.png');
  background-size: cover;
  opacity: 0;
  -moz-opacity: 0;
  -webkit-opacity: 0;
}

.lain-container:hover:before {
  opacity: 0.5;
  -moz-opacity: 0.5;
  -webkit-opacity: 0.5;
  /* mix-blend-mode: multiply; */
  animation: glitch-background-shake 1s infinite;
}

@keyframes glitch-background-shake {
  0% {
    background-size: 100%;
    background-position: 10px 10px;
  }
  10% {
    background-size: 95%;
    background-position: 4px 4px;
  }
  15% {
    background-size: 100%;
    background-position: -8px 0px;
  }
  20% {
    background-size: 100%;
    background-position: 10px 0px;
  }
  30% {
    background-size: 95%;
    background-position: 12px -4px;
  }
  40% {
    background-position: -8px 5px;
  }
  50% {
    background-size: 100%;
    background-position: -12px 5px;
  }
  60% {
    background-position: 8px 0px;
  }
  65% {
    background-size: 105%;
    background-position: -3px -3px;
  }
  70% {
    background-size: 95%;
    background-position: 5px 7px;
  }
  80% {
    background-size: 105%;
    background-position: -11px -8px;
  }
  100% {
    background-size: 95%;
    background-position: -5px 10px;
  }
}

@keyframes glitch-shake {
  100% {
    transform: scale(1) translateX(10px) translateY(10px);
  }
  90% {
    transform: scale(0.95) translateX(4px) translateY(4px);
  }
  80% {
    transform: scale(1) translateX(-8px) translateY(0px);
  }
  70% {
    transform: scale(1) translateX(10px) translateY(0px);
  }
  65% {
    transform: scale(0.95) translateX(12px) translateY(-4px);
  }
  50% {
    transform: translateX(-8px) translateY(5px);
  }
  40% {
    transform: scale(1) translateX(-12px) translateY(5px);
  }
  30% {
    transform: translateX(8px) translateY(0px);
  }
  20% {
    transform: scale(1.05) translateX(-3px) translateY(-3px);
  }
  15% {
    transform: scale(0.95) translateX(-5px) translateY(7px);
    background-size: 95%;
    background-position: 5px 7px;
  }
  10% {
    transform: scale(1.05) translateX(-11px) translateY(-8px);
  }
  0% {
    transform: scale(0.9) translateX(-5px) translateY(10px);
  }
}

.akira-container {
  background: url('../images/Front_White.png') no-repeat;
  background-size: contain;
  position: relative;
  overflow: hidden;
}

.akira-container:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 40px;
  background: url('../images/Front_White.png');
  background-size: cover;
  filter: sepia(100%);
  opacity: 0;
}

.akira-container:hover:before {
  opacity: 0.5;
  animation: glitch-wave 0.8s infinite linear;
}

@keyframes glitch-wave {
  0% {
    top: 0%;
    background-position: 12px 0%;
  }
  20% {
    top: 20%;
    background-position: -10px 20%;
  }
  40% {
    top: 40%;
    background-position: 6px 40%;
  }
  60% {
    top: 60%;
    background-position: -6px 60%;
  }
  80% {
    top: 80%;
    background-position: 10px 80%;
  }
  100% {
    top: 100%;
    background-position: -12px 100%;
  }
}

.akira-red {
  filter: grayscale(100%);
  overflow: visible;
}

.akira-red:hover {
  filter: grayscale(0%);
  -webkit-filter: drop-shadow(0px 0px 7px rgba(255, 0, 0, 1)) drop-shadow(0px 0px 7px rgba(255, 0, 0, 1)) drop-shadow(0px 0px 7px rgba(255, 0, 0, 1));
  filter: drop-shadow(0px 0px 7px rgba(255, 0, 0, 1)) drop-shadow(0px 0px 7px rgba(255, 0, 0, 1)) drop-shadow(0px 0px 7px rgba(255, 0, 0, 1));
  animation: red-glow 1s infinite alternate linear;
}

@keyframes red-glow {
  100% {
    -webkit-filter: drop-shadow(0px 0px 6px rgba(255, 0, 0, 1)) drop-shadow(0px 0px 6px rgba(255, 0, 0, 1)) drop-shadow(0px 0px 6px rgba(255, 0, 0, 1));
    filter: drop-shadow(0px 0px 6px rgba(255, 0, 0, 1)) drop-shadow(0px 0px 6px rgba(255, 0, 0, 1)) drop-shadow(0px 0px 6px rgba(255, 0, 0, 1));
  }
  0% {
    -webkit-filter: drop-shadow(0px 0px 0px rgba(255, 0, 0, 0)) drop-shadow(0px 0px 0px rgba(255, 0, 0, 0)) drop-shadow(0px 0px 0px rgba(255, 0, 0, 0));
    filter: drop-shadow(0px 0px 0px rgba(255, 0, 0, 0)) drop-shadow(0px 0px 0px rgba(255, 0, 0, 0)) drop-shadow(0px 0px 0px rgba(255, 0, 0, 0));
  }
}

.pulse-container {
  font-family: monospace, monospace;
}

.fade-0 {
  animation-duration: 1s;
  animation-delay: 0s;
  background-color: white;
}

.fade-1 {
  animation-duration: 1s;
  animation-delay: 0.3s;
  background-color: white;
}

.fade-2 {
  animation-duration: 1s;
  animation-delay: 0.6s;
  background-color: white;
}

.fade-3 {
  animation-duration: 1s;
  animation-delay: 0.9s;
  background-color: white;
}

.stacked-images-container {
  /* border: 1px yellow solid;
  background-image: url('../images/lain_screens_1_bitmapped.gif');
  background-size: contain;
  background-position-y: 30px;
  background-repeat: no-repeat; */
  position: relative;
  top: 0;
  left: 0;
}

.stack_image {
  /* filter: drop-shadow(0px 0px 6px rgba(255, 0, 0, 1)) drop-shadow(0px 0px 6px rgba(255, 0, 0, 1)) drop-shadow(0px 0px 6px rgba(255, 0, 0, 1)); */
  position: absolute;
  top: 30px;
  left: 0;
  pointer-events: none;
  /* filter: grayscale(100%); */
  /* mix-blend-mode: difference; */
}

.stack_bottom {
  position: relative;
  top: 1em;
  left: 0;
  margin-bottom: 1em;
  z-index: -3;
}

.layer_00 {
  mix-blend-mode: lighten;
  filter: opacity(90%);
  transform: translate(100%, -10%) scale(1.2);
}

.layer_01 {
  width: 20%;
  mix-blend-mode: lighten;
  transform: translateX(380%) translateY(-30%) rotate(-60deg);
}

.layer_02 {
  mix-blend-mode: lighten;
  filter: opacity(100%) grayscale(100%);
  transform: translate(100%, 190%);
}

.layer_03 {
  mix-blend-mode: lighten;
  animation: screen-glow linear 1s infinite alternate;
}

@keyframes screen-glow {
  100% {
    filter: drop-shadow(0px 0px 6px rgb(255, 255, 255)) drop-shadow(0px 0px 0px rgb(255, 255, 255));
    -webkit-filter: drop-shadow(0px 0px 6px rgb(255, 255, 255)) drop-shadow(0px 0px 0px rgb(255, 255, 255));
  }
  0% {
    filter: drop-shadow(0px 0px 6px rgb(255, 255, 255)) drop-shadow(0px 0px 6px rgb(255, 255, 255)) drop-shadow(0px 0px 6px rgb(255, 255, 255)) drop-shadow(0px 0px 6px rgb(255, 255, 255));
    -webkit-filter: drop-shadow(0px 0px 6px rgb(255, 255, 255)) drop-shadow(0px 0px 6px rgb(255, 255, 255)) drop-shadow(0px 0px 6px rgb(255, 255, 255)) drop-shadow(0px 0px 6px rgb(255, 255, 255));
  }
}

.wired-skew {
  transform: skew(-.3rad) translateX(0px) translateY(-50px) rotate(20deg);
  -ms-transform: skew(-.3rad) translateX(0px) translateY(-50px) rotate(20deg);
  -webkit-transform: skew(-.3rad) translateX(0px) translateY(-50px) rotate(20deg);
  -moz-transform: skew(-.3rad) translateX(0px) translateY(-50px) rotate(20deg);
  -o-transform: skew(-.3rad) translateX(0px) translateY(-50px) rotate(20deg);
  transform: skew(-.3rad) translateX(0px) translateY(-50px) rotate(20deg);
}

.reality-controller {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-evenly;
  margin: 30px 0px;
}

.reality-controller input[type="checkbox"] {
  margin: 0;
  padding: 0;
  width: 2px;
  height: 80px;
  appearance: none;
  -webkit-appearance: none;
  background-color: white;
  outline: none;
}

/* .reality-controller input[type="checkbox"]:hover {
  filter: drop-shadow(0px 0px 6px rgb(255, 255, 255)) drop-shadow(0px 0px 6px rgb(255, 255, 255)) drop-shadow(0px 0px 6px rgb(255, 255, 255));
    -webkit-filter: drop-shadow(0px 0px 6px rgb(255, 255, 255)) drop-shadow(0px 0px 6px rgb(255, 255, 255)) drop-shadow(0px 0px 6px rgb(255, 255, 255));
} */

.reality-controller input:checked[type="checkbox"] {
  background-color: rgb(196, 243, 126);
}

.reality-controller input[type="checkbox"]:before {
  content: "";
  position: absolute;
  width: 14px;
  height: 14px;
  border-radius: 7px;
  background: black;
  transform: translateX(-7px) translateY(70px);
  transition: 0.05s;
  border: 1px white solid;
}

.reality-controller input:checked[type="checkbox"]:before {
  transform: translateX(-7px);
  background: white;
}

.refresh-reality-button {
  color: white;
  font-size: 12px;
  border-radius: 0;
  border: 2px white solid;
  background-color: black;
  width: 87px;
  height: 87px;
}

.refresh-reality-button:hover {
  filter: drop-shadow(0px 0px 6px rgb(255, 255, 255));
    -webkit-filter: drop-shadow(0px 0px 6px rgb(255, 255, 255));
}

.refresh-reality-button:hover > .power-button {
  filter: drop-shadow(0px 0px 6px rgb(255, 255, 255));
    -webkit-filter: drop-shadow(0px 0px 6px rgb(255, 255, 255));
}

.refresh-reality-button:hover > .refresh-reality {
  text-shadow: 0px 0px 6px white, 0px 0px 6px white, 0px 0px 6px white;
}

.howl-container {
  position: relative;
  top: 0;
  left: 0;
  flex-direction: column;
  overflow: hidden;
}

.howl-centered {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.carousel-image {
  top: 30px;
  left: 0;
  pointer-events: none;
  transition: 0.3s;
  /* -webkit-transition: all 0.3s */
  -webkit-transition: .3s filter linear; 
  /* -webkit-transition: 0.3s width linear;  */
}

.carousel-0 {
  mix-blend-mode: lighten;
  position: absolute;
  width: 100%;
  z-index: 2;
  padding-bottom: 30px;
}

.carousel-1 {
  mix-blend-mode: lighten;
  filter: opacity(50%);
  position: absolute;
  width: 25%;
  transform: translate(0%, 100%);
  z-index: 3;
}

.carousel-2 {
  mix-blend-mode: lighten;
  filter: opacity(50%);
  position: absolute;
  width: 25%;
  transform: translate(300%, 100%);
  z-index: 3;
}

.castle-arrow_container {
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 30px;
  /* background-color: red; */
}

.castle-arrow {
  width: 80px;
  height: 67px
}

@media screen and (max-width: 320px) {
  .castle-arrow {
    width: 50%;
    max-width: 80px;
    height: 67px
  }
}

.castle-arrow:hover {
  filter: drop-shadow(0px 0px 6px rgb(255, 255, 255));
    -webkit-filter: drop-shadow(0px 0px 6px rgb(255, 255, 255));
}