h1 {
  margin: 0;
  padding: 10px;
  border: 0;
  outline: 0;
  font-size: 4vmin;
  vertical-align: baseline;
  background: transparent;
}

a:hover {
  -webkit-text-stroke-width: 1px;
}

html *
{
   font-family: 'Times New Roman', Times, serif !important;
   letter-spacing: 3px;
   cursor: none;
}


body {
  background-color: white;
}



.cursor {
  width: 3rem;
  height: 3rem;
  border: 2px solid black;
  border-radius: 50%;
  position: fixed;
  transform: translate(-50%, -50%);
  pointer-events: none;
  
  /* background-color: rgba(255, 255, 255, 0.8); */
  background-color: rgba(255, 255, 255, 1);
  
  /* background-color: white; */
  mix-blend-mode: difference;
  z-index: 999;
  /* backdrop-filter: grayscale; */
}

/* .invert {
  -webkit-filter: invert(100%);
} */



.App {
  text-align: center;
}

.App-logo {
  height: 20vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  /* background-color: #282c34; */
  /* background-color: white; */
  /* min-height: 100vh; */
  min-height: 60vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(1px + 2vmin);
  /* color: white; */
  color:black;
  background-color: white;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.header {
  text-align: center;
  background-color: rgba(255, 255, 255, 1.0);
}


.header .line {
  width: 95%;
  border-color: black white white;
  border-width: 1px;
  margin-top: 20px;
  margin-bottom: 0px;
}

.selected-link {
  -webkit-text-stroke-width: 1px;
}

.header-links {
  color:black;
  padding: 20px;
}

.header-links.home {
  padding-left: 10px
}

.container-main {
  text-align: center;
  padding-top: calc(20px + 0.5em);
  padding-bottom: 1px;
  background-color: white;
}

.container-main .inner {
  background-color: black;
  margin: 0px 25vmax 40px;
  padding: 2vmin 20px 5vmin;
  color: white;
  box-shadow: 5px 10px 20px black;
}

/* .container-main .inner:hover {
  box-shadow: 0px 5px 10px black;
} */

.container-main .inner .right {
  margin-right:5px;
  position: relative;
  float: right;
  font-weight: bold;
}

.container-main .inner .left {
  margin-left:5px;
  position: relative;
  float: left;
  font-weight: bold;
}

.container-main .inner .full-width {
  width: 80%;
}

.whitelink {
  color: white;
}

.Feed {
  width: 100%;
  /* text-align: center; */
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
}


.feedImageWrapper {
  width: 50%;
  border: 1px solid white;
  padding: 20px 20px 100px;
  margin-top: 20px;
  margin-bottom: 10px;

  /* background-color: white;
  color: black; */
}

.feedImage {
  /* position:absolute; */
  width: 100%;
  /* padding: 40px; */
  /* position: absolute; */
  /* filter: grayscale(50%); */
}

.feedImage-description {
  margin-top: 40px;
  font-size: 1vmax;
  filter: grayscale(50%);
}

.feedImage:hover {
  /* transform: scale(1.05); */
  filter: grayscale(100%);
}
